<hr />
<div class="text-center text-primary">
    Joke of the visit: <%= joke %>
</div>

<nav id="stickToTop">
    <hr width = "50%" />
    <a href="/">Home</a>
    <a href="/python">Python</a>
    <a href="/javascript">JavaScript</a>
    <a href="/php" id="dontClick">PHP</a>
</nav>
<br />
