<%- include("partials/header", {nameVar : title}) -%>

    <body class="body-generals">
        <header>
            <h1> The Most Popular Coding Languages! </h1>
        </header>
<%- include("partials/navbar") -%>

        <main>

            <div id='homeText'>
                <p>One of the <b>biggest</b> and most popular majors right now is Computer Science.
                High hiring rates and wages motivate a lot of people to study computer science.
                Anybody can learn and benefit from learning how to code.</p>

                <p>However, with so many options out there, not everybody knows which coding languages to choose.
                In this site, you can learn about three of the most popular websites are
                (according to <a class="link" href=https://www.businessinsider.com/most-popular-programming-languages-github-2019-11#4-php-7>GitHub</a>):
                Python, Java, and JavaScript.
                Each page will teach you a bit about each language. This will help you make an educated decision
                when choosing which coding language to start with.</p>

                <p>Regardless on which language you choose, you can benefit from any, since these are
                all industry standard languages that many companies use today.</p>
            </div>

            <figure id='homeImg'>
                <img src="images/code (3).PNG" alt="Picture of code on a computer screen" />
            </figure>

        </main>
    </body>
</html>
