<%- include("partials/header", {nameVar: title}) -%>

<body class="body-generals">
    <header>
        <h1> JavaScript </h1>
    </header>

<%- include("partials/navbar") -%>

<main id="jsMain">

    <figure id="jsImg">
        <img src="images/javascript.jpg" alt="Picture of code on a computer screen" />
    </figure>

    <div id="jsText">
        <p>JavaScript is a language that was created in 10 days in 1995.<br>
           Can a language that was made in such a short amount of time be any
           good?</p>

        <ul>
            <li>
                Backbone of the Web:<br>
                It turns out that it has become the most important languge in the world.
                This powerful scripting language has given people the ability to edit webpages
                to make them interesting and animated. Even this website uses JavaScript.
            </li>
            <li>Not Just Websites:<br>
                    JavaScript isn't only used for website logic and for frontend. It can
                    also be a powerful tool to for backend and servers. This makes JavaScript
                    a powerful tool that can be used in many different scenarios and applications.
            </li>
        </ul>
        <h2>Should you learn it?</h2>
            Yes! JavaScript is a language that is used my everybody and anything. Do you want to
            learn how to create websites? JavaScript is a tool you can't live without. How about backend?
            You can use JavaScript for that too. A plus is that it is a very easy language to use
            and learn, just like <a class="link" href="python_page.html">Python!</a>
    </div>


</main>

<footer>
    <hr>
    <h2>Sources:</h2>
    <a class="link" href="https://news.codecademy.com/javascript-history-popularity/">CodeCademy.com</a>
</footer>
</body>
</html>
