<%- include("partials/header", {nameVar: title}) -%>

<body id="phpLook">
        <header>
            <h1> PHP </h1>
        </header>

<%- include("partials/navbar") -%>

<main id="jsMain">
            <figure>
                <img src="images/php.png" alt="Images of the PHP logo"/>
            </figure>

            <div id="jsText">
                <p>
                Wow. So you actually came to this page. I didn't think you would. I put warnings and everything.
                The text was red for crying out loud. Whatever I guess.
                </p>
                <p>I guess I should preface this by saying that PHP is a coding language. Not a good one. Not a fine one.
                Just a language. However, it is very popular. So popular, in fact, that it is used by more than 75% of <b>all</b> websites,
                and it's the fourth most popular language.
                But don't be fooled.</p>

                <h2>
                    Don't make PHP your first language.
                </h2>
                <p>
                    Here's a very basic example of why PHP is a terribly languge. The way PHP handles booleans and truth values is very wierd.
                    For example, the string "foobar" is counted as true. This pretty wierd, but it isn't unheard of for strings to be default true
                    in other languages. However, "foobar" is also equal to 0 for whatever reason. However, 0 isn't equal to true.
                    <h3>TL;DR</h3>
                    In PHP, true == "foobar" == 0, but true != 0.<br>
                    This should be enough to scare you away. Just use one of the other languages.
                </p>
            </div>
        </main>

        <footer>
            <hr>
            <h2>Sources:</h2>
            <a class="link" href="https://whydoesitsuck.com/why-does-php-suck/">WhyDoesItSuck.com</a>
        </footer>
    </body>
</html>
