<%- include("partials/header", {nameVar: title}) -%>

<body class="body-generals">
    <header>
        <h1> Python </h1>
    </header>

<%- include("partials/navbar") -%>

<main>

            <figure id='codeImg'>
                <img src="images/python.jfif" alt="Picture of the Python logo" />
            </figure>

            <div id='codeText'>
                <p>Python is a programming language that has been growing in popularity in the
                   last few years. Why is it special?</p>

                <h2>Is it good to start with?</h2>
                <p>For someone trying to learn how to code for the first time, Python is a great
                   choice. Python's relatively easy learning curve makes it a great language to start
                   off with. The code is written in a way that makes it sound like normal english. It also
                   doesn't have the same amount of
                   <a class="link" href="https://fullstackworld.com/post/what-is-boilerplate-code-why-when-to-use-the-boilerplate-code">boilerplate</a>
                   code, which makes it very easy to just jump in and write.</p>

                <aside class="disclaimerPar"><span id="disclaimer">Disclaimer:</span> Python can be a double edged
                    sword. Even though it's easy to write in Python, switching to a more
                    traditional language may be difficult since they tend to be more complicated.</aside>

                <h2>Is it too slow?</h2>
                <p>Many people like to write off Python as a slow and useless language.
                   However, it's speed has never been its selling point. Most people can't tell the difference
                   between the bootup speed of programs written in this language versus other faster languages.
                   Companies like for their developers to code quickly and productively, and Python's ease of
                   use allows that.</p>
            </div>


        </main>

        <footer>
            <hr>
            <h2>Sources:</h2>
            <a class="link" href="https://medium.com/@trungluongquang/why-python-is-popular-despite-being-super-slow-83a8320412a9">Medium.com</a>
        </footer>
    </body>
</html>
